:root {
    --primary-color: #0e1111;
    --border-color: white
}
* {
    margin: 0;
    padding: 0;
    text-align: center;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 0.3em;
}
Html, body {
    color: white;
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}
#MainDiv {
    position: relative;
    height: 100%;
    aspect-ratio: 9/15;
    justify-content: flex-start;
}
#back {
    position: absolute;
    left: 0.69em;
    z-index: 1000;
}
#Menu {
    font-size: 3.5em;
    position: absolute;
    top: -0.34em;
    right: 0.15em;
    cursor: pointer;
    z-index: 1001
}
#chatBoxDiv {
    font-size: 1.25em;
    margin-top: 2.5em;
    height: 85%;
    width: 100%;
    padding: 0.5em;
    border: none;
    border-top: 1px solid var(--border-color);
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.1em;
    overflow-y: scroll;
    scroll-behavior: scroll;
}
.chatText {
    margin-top: 0.1em;
    margin-left: 0.4em;
    text-align: left;
}
#ChatInput {
    color: white;
    font-size: 1.25em;
    width:100%;
    height: auto;
    flex-grow: 1;
    border: none;
    background: transparent;
    border: none;
    border-top: 0.01em solid var(--border-color);
    border-radius: 0.2em;
}
#SignInDiv {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    border: none;
    border-radius: 0.3em;
    z-index: 1;
    gap: 1.5em;
}
#SignIn {
    font-size: 1.25em;
    color: white;
    height: 2em;
    width: 100%;
    box-sizing: border-box;
    border: 0.01em solid var(--border-color);
    border-left: none;
    border-right: none;
    background: transparent;
}
#MenuDiv {
    padding: 4em;
    display: none;
    justify-content: flex-start;
    position: absolute;
    top: 50% - 50%;
    left: 50% - 50%;
    height: 100%;
    aspect-ratio: 9/15;
    background: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 0.3em;
    z-index: 1000;
    gap: 1.5em
}
#BackgroundColorDiv, #OutlineColorDiv {
    border: none;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
#BackgroundColor, #OutlineColor {
    background: none;
    border: none;
}
#SignIn:hover {
    box-sizing: border-box;
    border: 0.1em solid var(--border-color);
    border-left: 0.02em solid var(--border-color);
    border-right: 0.02em solid var(--border-color);
}
#ChatInput:hover {
    box-sizing: border-box;
    border-radius: 0.2em;
    border: 0.01em solid var(--border-color);
    border-top: 0.1em solid var(--border-color);;
}
#ChatInput:focus, #SignIn:focus {
    color: white;
    background: rgb(from var(--primary-color) calc(r + 1) calc(g + 1) calc(b + 1));
    caret-color: white;
}
#ChatInput::placeholder {
    color: #bfbfbf;
}
#ChatInput:focus::placeholder {
    color: transparent;
}