:root {
    --primary-color: #0e1111; 
    --border-color: white;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-align: center;
}


html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--primary-color);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    overflow: hidden;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 0.3em;
}

input {
    font-family: inherit; 
    color: inherit;     
    background: transparent;
    border: none;
    outline: none;     
}


#MainDiv {
   
    max-width: min(100vw, calc(100vh * 9 / 15));
    height: 100%;
    position: relative;
    aspect-ratio: 9 / 15;
    justify-content: flex-start;
}


#Menu {
    font-size: 3.5em;
    position: absolute;
    top: -0.34em; 
    right: 0.15em;
    cursor: pointer;
    z-index: 1001;
    border: none;
}


#chatBoxDiv {
    font-size: 1.25em;
    margin-top: 2.5em;
    height: 85%;
    width: 100%;
    padding: 0.5em;
    border-top: 1px solid var(--border-color);
    border-bottom: none;
    border-left: none;
    border-right: none;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.1em;
    overflow-y: scroll;
    scroll-behavior: smooth; 
    word-break: break-all;
}


#chatBoxDiv::-webkit-scrollbar {
    display: none;
}

#chatBoxDiv {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.chatText {
    margin-top: 0.1em;
    margin-left: 0.4em;
    text-align: left;
}

#ChatInput {
    font-size: 1.25em;
    width: 100%;
    height: auto;
    flex-grow: 1;
    padding: 0.5em;
    border-top: 0.01em solid var(--border-color);
    border-radius: 0.2em;
    text-align: left;
    caret-color: white;
}

#ChatInput::placeholder {
    color: #bfbfbf;
}

#ChatInput:focus::placeholder {
    color: transparent;
}


#SignInDiv, #MenuDiv {
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    border: none;
    z-index: 1000;
    gap: 1.5em;
}

#MenuDiv {
    padding: 4em;
    justify-content: flex-start;
}

#SignIn {
    font-size: 1.25em;
    height: 2em;
    width: 85%;
    border: 0.01em solid var(--border-color);
}

#BackgroundColorDiv, #OutlineColorDiv {
    border: none;
    flex-direction: row;
    gap: 0.5em;
}

#BackgroundColor, #OutlineColor {
    border: none;
    width: 3em;
    height: 2em;
    cursor: pointer;
}

#SignIn:hover {
    border-width: 0.1em;
    border-style: solid;
}

#ChatInput:hover {
    border: 0.01em solid var(--border-color);
    border-top: 0.1em solid var(--border-color);
    border-radius: 0.2em;
}

#ChatInput:focus, #SignIn:focus {
    background: rgba(255, 255, 255, 0.05);
}
