Html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: #161c3c;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}
* {
    user-select: none;
}
input:focus {
  outline: none;
}